<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" class="icon icon-{{ color }}">
    <title>cover</title>
    <g id="cover">
        <rect class="cls-1" width="4.12" height="24"/>
        <path class="cls-1" d="M5.7,0V24H24V17A5.31,5.31,0,0,1,24,7V0Z"/>
    </g>
</svg>