<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" class="icon icon-{{ color }}">
    <title>info</title>
    <g id="info">
        <path class="cls-1"
              d="M12,0A12,12,0,1,0,24,12,12,12,0,0,0,12,0m1.32,18a1.32,1.32,0,0,1-2.64,0V10.7a1.32,1.32,0,0,1,2.64,0ZM12,7.2a1.63,1.63,0,1,1,1.63-1.63A1.63,1.63,0,0,1,12,7.2"/>
    </g>
</svg>