<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" class="icon icon-{{ color }}">
    <title>note</title>
    <g id="note">
        <path class="cls-1"
              d="M7.27,2.45V17.87a4.36,4.36,0,0,0-2.86-.41,3.62,3.62,0,0,0-3.19,4c.35,1.77,2.35,2.88,4.45,2.48a3.74,3.74,0,0,0,3.24-3.34V7.29L21.19,5.34V15.69a4.3,4.3,0,0,0-2.86-.4,3.61,3.61,0,0,0-3.19,4c.35,1.77,2.35,2.89,4.45,2.48a3.73,3.73,0,0,0,3.24-3.34V0Z"/>
    </g>
</svg>