<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" class="icon icon-{{ color }}">
    <title>person</title>
    <g id="person">
        <path class="cls-1"
              d="M12.58,12.25a9.06,9.06,0,0,0-9.06,9.06v2a.67.67,0,0,0,.67.67H21a.67.67,0,0,0,.67-.67v-2a9.07,9.07,0,0,0-9.07-9.06"/>
        <path class="cls-1" d="M12.58,0a5.88,5.88,0,1,0,5.88,5.87A5.9,5.9,0,0,0,12.58,0Z"/>
    </g>
</svg>