@import "components/variables";
@import "components/icons";
@import "components/fonts";
@import "components/mixins";

$break-medium: 992px;

html, body {
  font-size: 16px;
  margin: 0;
  font-family: "Fivo Sans", sans-serif;
  width: 100%;
  max-width: 100%;
}

@media all and (max-width: 576px) {
  html {
    font-size: 0.7 * 16px;
  }
}

@media all and (max-width: 768px) {
  html {
    font-size: 0.8 * 16px;
  }
}

@media all and (max-width: 992px) {
  html {
    font-size: 0.9 * 16px;
  }
}

* {
  box-sizing: border-box;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

a {
  color: $theme-white;
  text-decoration: underline;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "League Gothic", sans-serif;
  text-transform: uppercase;
  font-weight: $font-weight-regular;
  margin: 0;
}

p {
  margin: 0;
}

.container {
  width: 100%;
}

.slogan {
  $font-size-slogan: 5 * $font-size-huge;
  $header-rotation: -10deg;

  position: relative;
  height: 3 * $font-size-slogan;
  text-align: center;
  font-size: $font-size-slogan;
  color: $theme-white;
  background-color: $theme-blue;
  overflow: hidden;

  &::before {
    display: block;
    content: ' ';
    position: absolute;
    top: 0;
    right: 0;
    height: 50%;
    z-index: 1;
    width: 30vw;
    background-color: $theme-red;
  }

  .title-clone, h2 {
    font-family: "League Gothic", sans-serif;
    font-size: $font-size-slogan;
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    white-space: nowrap;
    line-height: .8;

    &.title-clone-right {
      .text-clone {
        z-index: 2;
      }

      &::before {
        display: block;
        content: ' ';
        position: absolute;
        bottom: 0;
        height: 50%;
        z-index: 2;
        left: 0;
        width: 40vw;
        background-color: $theme-red;
      }
    }

    &.title-clone-left {
      .text-clone {
        z-index: 1;
      }

      &::after {
        display: block;
        content: ' ';
        position: absolute;
        height: 50%;
        z-index: 0;
        left: 40vw;
        width: 50vw;
        bottom: 0;
        background-color: $theme-black;
      }
    }

    .text-title,
    .text-clone {
      text-transform: uppercase;
      color: transparent;
      text-shadow: none;
      position: absolute;
      top: 50%;
      left: 50%;
      width: 100%;
      height: 100%;
      transform: rotate($header-rotation) translate(-50%, -55%);

      .transparent {
        color: transparent;
        text-shadow: none;
      }
    }

    .text-title {
      color: $theme-white;
    }
  }

  .small {
    color: $theme-blue;
    font-size: 2 * $font-size-huge;
    line-height: .7;
    position: relative;
    top: -2rem;
  }

  .shifted {
    margin-left: 1.1 * $font-size-slogan;
  }

  .text-white {
    color: $theme-white;
  }

  .text {
    position: absolute;
    top: 0;
    left: 0;
    line-height: 1;
    height: 100%;
    width: 100%;

    .smile {
      height: $font-size-huge;
      position: absolute;
      bottom: $font-size-slogan;
      right: 0;
    }

    .stars {
      color: $theme-red;
      line-height: 0.8;
      position: absolute;
      top: 20%;
      left: 50%;
      transform: rotate($header-rotation) translate(-108%, -100%);
      font-size: 2 * $font-size-huge;
      font-weight: $font-weight-medium;
      font-family: "League Gothic", sans-serif;
    }
  }

  .outlines {
    color: $theme-black;
    @include text-outline();

    @each $name, $color in $theme-colors {
      &.outlines-fill-#{$name} {
        color: $color;
      }
    }
  }
}

.guitar-player {
  position: relative;

  img {
    width: 100%;
    height: auto;
    display: block;
    margin-top: -1px;
    margin-bottom: -1px;
    z-index: 10;
    position: relative;
  }
}

.project-description {
  $inner-delta-l: 25vw;
  $inner-delta-r: 15vw;
  $header-font-size: 9rem;
  $header-width: 4 * 0.4 * $header-font-size; // approx width of the word "WÄRE" for a font size of 9rem
  $header-rotation: -8deg;

  position: relative;
  background-color: $theme-blue;

  .inner .title-clone > span,
  .title {
    font-size: $header-font-size;
    position: absolute;
    color: $theme-white;
    line-height: 1;
    text-align: right;
    display: block;
    font-family: "League Gothic", sans-serif;
    font-weight: $font-weight-regular;
    text-transform: uppercase;
    width: $header-width;
    transform: rotate($header-rotation);
  }

  .title {
    top: 50%;
    left: calc(#{$inner-delta-l} - #{$header-width} + (1.4rem));
    transform: rotate($header-rotation) translateY(-47%);
  }

  .inner {
    width: 100vw - $inner-delta-l - $inner-delta-r;
    left: $inner-delta-l;
    right: $inner-delta-r;
    background-color: $theme-red;
    padding: 8rem 4rem;
    color: $theme-white;
    font-size: 1.2 * $font-size-huge;
    line-height: 1.2;
    position: relative;

    .title-clone {
      overflow: hidden;
      position: absolute;
    }

    .title-clone-left {
      background-color: $theme-blue;
      width: $inner-delta-l;
      left: -$inner-delta-l;
      height: $header-font-size;
      bottom: 0;

      span {
        right: 0;
        left: calc(#{$inner-delta-l} - #{$header-width} + (0.2rem));
        bottom: ($header-font-size / 2) - 1rem;
      }
    }

    .title-clone-right {
      width: 2rem;
      height: $header-font-size;
      bottom: ($header-font-size / 2) - 0.8rem;
      left: 0;

      span {
        left: -$header-width;
        bottom: 0;
      }
    }
  }

  &::before, &::after {
    position: absolute;
    display: block;
    content: ' ';
    top: 0;
  }

  &::before {
    background-color: $theme-black;
    width: $inner-delta-l;
    bottom: $header-font-size;
    left: 0;
  }

  &::after {
    background-color: $theme-red;
    width: $inner-delta-r;
    right: 0;
    height: $header-font-size;
  }
}

.benefits {
  background-color: $theme-red;

  .inner {
    width: 85%;
    margin-left: 15%;
    background-color: $theme-white;
    padding: 8rem 10rem;
    display: flex;
    justify-content: center;
    flex-wrap: nowrap;

    > div {
      width: 50%;

      p {
        margin: 2rem 0 0;
        font-weight: $font-weight-regular;
        padding-left: 2rem;

        .normal {
          font-family: "Fivo Sans", sans-serif;
          font-size: $font-size-huge;
          display: block;
        }

        .benefit {
          font-family: "League Gothic", sans-serif;
          color: $theme-blue;
          font-size: 2.5 * $font-size-huge;
          display: block;
          text-transform: uppercase;
          position: relative;

          &::before {
            content: "*";
            position: absolute;
            top: 0;
            left: -2.5rem;
            font-size: 6rem;
          }
        }
      }

      &:first-child > p:first-child {
        margin: 0;
      }
    }
  }

  @media screen and (max-width: $break-medium) {
    .inner {
      flex-direction: column;
      padding: 4rem 5rem;

      > div {
        width: 100%;
      }
    }
  }
}

.street-artist {
  position: relative;
  background-color: $theme-blue;

  img {
    width: 100%;
    height: auto;
    display: block;
    margin-top: -1px;
    margin-bottom: -1px;
    z-index: 10;
    position: relative;
  }
}

.stats-prelude {
  padding-top: 6rem;
  padding-bottom: 2rem;
  text-align: center;

  a {
    font-size: 2 * $font-size-huge;
    color: $theme-black;
    font-weight: $font-weight-heavy;
    text-decoration: none;

    &::before, &::after {
      content: "×";
      color: $theme-red;
      margin: 0 1rem;
      font-size: 3 * $font-size-huge;
      font-weight: $font-weight-light;
    }
  }
}

.stats {
  background-color: $theme-blue;
  padding-top: 2rem;
  padding-bottom: 6rem;
  position: relative;
  color: $theme-white;
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;

  &::after {
    background-color: $theme-blue;
    display: block;
    content: ' ';
    width: 5vw;
    height: 30vw;
    position: absolute;
    top: calc(100% - 1px);
    right: 0;
    z-index: 20;
  }

  .inner {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    .and {
      font-size: 12rem;
      color: $theme-blue;
      font-family: "League Gothic", sans-serif;
      align-self: normal;

      @include text-outline();
    }

    p {
      text-align: left;
      font-size: $font-size-huge;
      margin: 0;
      padding: 0 1rem;
      display: flex;
      flex-wrap: nowrap;
      align-items: flex-start;

      .number {
        font-family: "League Gothic", sans-serif;
        font-weight: $font-weight-regular;
        font-size: 12rem;
        margin-right: 1rem;
        display: block;
        line-height: 0.8;
        border-bottom: 0.5rem solid $theme-white;
      }

      .description {
        display: block;
        font-size: 1.2 * $font-size-huge;
        font-weight: $font-weight-thin;

        &:first-line {
          font-weight: $font-weight-bold;
        }
      }
    }
  }

  @media screen and (max-width: $break-medium) {
    padding-top: 4rem;
    padding-bottom: 4rem;

    .inner {
      flex-direction: column;
      justify-content: start;
      align-items: start;
    }
  }
}

.vinyl {
  width: 100%;
  position: relative;

  img {
    width: 100%;
    height: auto;
    display: block;
    margin-top: -1px;
    margin-bottom: -1px;
    z-index: 10;
    position: relative;
  }
}

.resources {
  background-color: $theme-red;
  width: 100%;
  position: relative;

  &::before {
    background-color: $theme-blue;
    display: block;
    content: ' ';
    width: 5vw;
    height: 30vw;
    position: absolute;
    top: calc(-30vw + 1px);
    left: 0;
    z-index: 10;
  }

  $title-height: 8rem;
  $title-offset-x: 5.6rem;
  $title-offset-y: 1.1rem;
  $before-inner-width: 20vw;

  .before-inner {
    background-color: $theme-black;
    display: block;
    content: ' ';
    width: $before-inner-width;
    height: 100%;
    position: absolute;
    top: 0;
    left: 5vw;
    z-index: 1;
    overflow: hidden;

    .title-clone {
      transform: rotate(-10deg);
      position: absolute;
      top: -$title-offset-y;
      left: calc(100% - 5.5rem);
    }
  }

  .inner {
    background-color: $theme-blue;
    display: flex;
    flex-wrap: wrap;
    padding: (6rem + $title-height + $title-offset-y) 6rem 6rem;
    width: 75vw;
    margin-left: 25vw;
    position: relative;

    .title {
      transform: rotate(-10deg);
      position: absolute;
      top: -$title-offset-y;
      left: -$title-offset-x;

      .blue {
        color: $theme-blue;
      }
    }

    .card {
      width: 50%;
      padding-left: 4rem;
      position: relative;

      > .header-icon {
        max-width: 3rem;
        height: 2.7rem;
        position: absolute;
        top: 0.3rem;
        left: 0;
      }

      > h3 {
        color: $theme-white;
        font-size: 3.5rem;
        line-height: 1;
        font-weight: $font-weight-regular;
        margin: 0 0 0.5rem;
      }

      > p {
        margin: 0 0 2rem;
        padding-right: 40%;
        font-weight: $font-weight-medium;
      }

      &:last-of-type {
        width: 100%;
      }
    }

    > p {
      color: $theme-white;
      padding-left: 4rem;
      padding-right: 15%;
      font-weight: $font-weight-light;
      font-size: $font-size-huge;
      line-height: 1.2;
    }

    @media screen and (max-width: $break-medium) {
      flex-direction: column;

      .card {
        width: 100%;
        padding-right: 20%;

        > p {
          padding-right: 20%;
        }
      }
    }
  }

  .before-inner, .inner {
    .title-clone, .title > h2 {
      font-size: $title-height;
      font-weight: $font-weight-regular;
      line-height: 0.8;
      color: $theme-white;
      margin: 0;
      text-transform: uppercase;
      font-family: "League Gothic", sans-serif;
    }
  }
}

.cta-wrapper {
  width: 100%;
  padding-top: 6rem;
  padding-bottom: 6rem;
  text-align: center;
  overflow: hidden;

  .cta-button {
    background-color: $theme-blue;
    padding: 1.5rem 1.5rem 1.2rem;
    text-transform: uppercase;
    text-decoration: none;
    display: inline-block;
    line-height: 1;
    font-size: 1.2 * $font-size-huge;
    font-weight: $font-weight-bold;
  }

  .cta-elements {
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    margin-top: 2rem;

    .cta-element {
      color: $theme-red;
      padding-left: 3.8rem;
      padding-right: 3.8rem;

      p {
        font-size: 5 * $font-size-big;
        line-height: 1;
        margin: 0;
        font-family: "League Gothic", sans-serif;
        text-transform: uppercase;
      }

      a {
        font-size: $font-size-big;
        color: $theme-blue;
        text-decoration: none;
        font-weight: $font-weight-bold;
      }
    }
  }
}

footer {
  background-color: $theme-black;
  display: flex;
  justify-content: normal;
  align-items: stretch;
  width: 100%;
  color: $theme-white;
  text-align: center;
  padding-bottom: 2rem;

  p {
    margin: 0;
    line-height: 1.2;
    font-size: $font-size-big;
  }

  .imprint, .notices {
    padding-top: 3rem;
    padding-bottom: 3rem;
    width: 50%;
  }

  .imprint {
    background-color: $theme-blue;
    font-weight: $font-weight-thin;

    .strong {
      font-weight: $font-weight-black;
    }
  }

  .notices {
    display: flex;
    flex-wrap: wrap;
    background-color: $theme-red;

    .copyright, .origin {
      width: 100%;
    }

    .copyright {
      align-self: start;
      font-weight: $font-weight-thin;
    }

    .origin {
      align-self: end;
      margin-top: auto;
      font-weight: $font-weight-black;
      line-height: 2;

      .icon {
        width: $font-size-huge;
        height: $font-size-huge;
        vertical-align: text-bottom;
      }
    }
  }

  @media screen and (max-width: $break-medium) {
    flex-direction: column;

    .imprint, .notices {
      width: 100%;
    }
  }
}