@import "components/variables";
@import "components/icons";
@import "components/fonts";
@import "components/mixins";

$break-medium: 992px;
$break-small: 420px;

html, body {
  font-size: 16px;
  margin: 0;
  font-family: "Fivo Sans", sans-serif;
  width: 100%;
  max-width: 100%;
}

@media all and (max-width: 576px) {
  html {
    font-size: 0.7 * 16px;
  }
}

@media all and (max-width: 768px) {
  html {
    font-size: 0.8 * 16px;
  }
}

@media all and (max-width: 992px) {
  html {
    font-size: 0.9 * 16px;
  }
}

* {
  box-sizing: border-box;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

a {
  color: $theme-white;
  text-decoration: underline;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "League Gothic", sans-serif;
  text-transform: uppercase;
  font-weight: $font-weight-regular;
  margin: 0;
}

p {
  margin: 0;

  @media screen and (max-width: $break-small) {
    font-size: 1.2rem;
  }

}

.container {
  width: 100%;
}

.section-wrapper {
  flex-direction: row;
  flex-wrap: nowrap;
  display: flex;

  .section {
    width: 50%;
  }

  @media screen and (max-width: $break-medium) {
    flex-direction: column;

    .section {
      width: 100%;
    }
  }
}

.fitti {
  white-space: nowrap;
  display: inline-block;
}

.fixed-nav.section-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1005;

  .menu, .contact-icon {
    height: 75px;
    width: 75px;
    padding: 1rem;
    display: block;
  }

  .menu {
    background: $theme-black;
    border: none;
    transition: background-color .2s ease-in-out;
    cursor: pointer;

    .icon {
      fill: $theme-red;
    }

    svg > rect {
      transform-origin: center;
      transition: transform .2s ease-in-out;
    }

    &:hover {
      svg > rect {
        transform: rotate(0);
      }
    }
  }

  .contact-button {
    display: flex;
    justify-items: center;
    align-items: center;
    font-size: 1.5rem;
    white-space: nowrap;

    .contact-icon {
      fill: $theme-blue;
    }

    @media all and (max-width: $break-medium) {
      .text {
        display: none;
      }
    }
  }

  .section-menu {
    z-index: 1010;
    background: url("../images/logo_bg.svg") repeat-x;
    transition: background-position .4s ease-in-out;
  }

  .section-contact {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    background-color: $theme-red;
    z-index: 1000;
    position: fixed;
    top: 0;
    right: 0;
    transition: transform .4s ease-in-out;
  }

  &.active {
    .menu {
      background: $theme-blue;
      border: none;

      svg > rect {
        &.first {
          transform: translate(-22%, 32%) rotate(35deg);
        }

        &.second {
          transform: translate(2%, 2%) rotate(-35deg);
        }

        &.third {
          transform: translate(40%, 0%) rotate(90deg);
        }
      }
    }

    .section-menu {
      background-position-y: -75px;
    }

    .section-contact {
      transform: translateY(-75px);
    }
  }

  @media screen and (max-width: $break-medium) {
    flex-direction: row;

    .section-menu {
      width: 75px;
    }

    .section-contact {
      padding-left: 75px;
    }
  }
}

nav + .container {
  margin-top: 75px;
}

.intro {
  background: url("../images/header.png") center right;
  background-size: contain;

  > .section {
    width: 50%;
    height: 100%;
    overflow: hidden;
    position: relative;
  }

  h1 {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    text-align: center;

    .text {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      line-height: 0.9;
      width: 65%;
      max-height: 80%;
      display: block;

      .name {
        text-align: center;
        font-size: 10rem;
        color: $theme-blue;
        height: calc(100% - #{15rem * 0.9});
      }

      .claim {
        color: $theme-red;
        font-size: 4rem;
        letter-spacing: 3px;
        display: inline-block;
      }
    }
  }

  svg {
    font-family: "League Gothic", sans-serif;
    height: auto;
    width: 100%;
    display: block;
    text-transform: uppercase;

    .cls-1, .cls-6 {
      fill: none;
    }

    .cls-2 {
      clip-path: url(#clip-path);
    }

    .cls-3 {
      fill: #fff;
    }

    .cls-4 {
      fill: #fc2d2d;
    }

    .cls-5, .cls-7 {
      fill: #2949e5;
    }

    .cls-6 {
      stroke: #1d1d1b;
      stroke-miterlimit: 10;
      stroke-width: 1.5px;
    }
  }

  img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 100%;
    width: auto;
  }
}

.slogan {
  overflow: hidden;

  svg {
    font-family: "League Gothic", sans-serif;
    height: auto;
    width: 100%;
    display: block;
    text-transform: uppercase;
    position: relative;

    .cls-1 {
      fill: $theme-red;
    }

    .cls-2, .cls-8 {
      fill: $theme-blue;
    }

    .cls-3 {
      font-size: 249px;
      fill: none;
    }

    .cls-4 {
      stroke: $theme-white;
      stroke-miterlimit: 10;
      stroke-width: 2px;
    }

    .cls-5, .cls-7 {
      fill: $theme-white;
    }

    .cls-6 {
      fill: $theme-black;
    }

    .cls-7 {
      letter-spacing: 0;
    }

    .cls-8 {
      font-size: 95px;
    }
  }

  @media screen and (max-width: $break-medium) {
    svg {
      width: 140%;
      left: -20%;
    }
  }
}

.guitar-player {
  position: relative;

  img {
    width: 100%;
    height: auto;
    display: block;
    z-index: 10;
    position: relative;
  }
}

.project-description {
  position: relative;
  background: url("../images/project_description_bg.svg") repeat-y top left, url("../images/project_description_bg.svg") 0 10px repeat-y;
  min-height: calc(100vw * 0.42);

  svg {
    position: absolute;
    top: 0;
    left: 0;
    height: auto;
    width: 100%;
    z-index: 1;
    font-family: "League Gothic", sans-serif;

    .cls-1 {
      fill: #fc2d2d;
    }

    .cls-2, .cls-4 {
      fill: #fff;
    }

    .cls-3 {
      fill: #1d1d1b;
    }

    .cls-4 {
      font-size: 265px;
      font-family: "League Gothic", sans-serif;
    }

    .cls-5 {
      letter-spacing: 0.03em;
    }

    .cls-6 {
      letter-spacing: 0;
    }

    .cls-7 {
      letter-spacing: -0.01em;
    }

    .cls-8 {
      fill: #2949e5;
    }
  }

  .inner {
    width: 100%;
    padding: 8vw 25vw 8vw 35vw;
    color: $theme-white;
    font-size: 1.2 * $font-size-huge;
    line-height: 1.2;
    position: relative;
    z-index: 1;
    word-break: break-word;
  }

  @media screen and (max-width: $break-medium) {
    .inner {
      font-size: 1.2 * $font-size-big;
    }
  }
}

.benefits {
  background-color: $theme-red;

  .inner {
    width: 85%;
    margin-left: 15%;
    background-color: $theme-white;
    padding: 8rem 10rem;
    justify-content: center;

    > .section {

      p {
        margin: 2rem 0 0;
        font-weight: $font-weight-regular;
        padding-left: 2rem;
        word-break: break-word;

        .normal {
          font-family: "Fivo Sans", sans-serif;
          font-size: $font-size-huge;
          display: block;
          @media screen and (max-width: $break-small) {
            font-size: 1.5rem;
          }
        }

        .benefit {
          font-family: "League Gothic", sans-serif;
          color: $theme-blue;
          font-size: 2.5 * $font-size-huge;
          display: block;
          text-transform: uppercase;
          position: relative;

          @media screen and (max-width: $break-small) {
            font-size: 2.2rem;
          }

          &::before {
            content: "*";
            position: absolute;
            top: 0;
            left: -2.5rem;
            font-size: 6rem;
          }
        }
      }

      &:first-child > p:first-child {
        margin: 0;
      }
    }
  }

  @media screen and (max-width: $break-medium) {
    .inner {
      padding: 2rem 2.5rem;

      > .section {
        p {
          .benefit {
            font-size: 1.5 * $font-size-huge;

            &::before {
              font-size: 4rem;
              left: -1.5rem;
            }
          }
        }
      }
    }
  }
}

.street-artist {
  position: relative;
  background-color: $theme-blue;

  img {
    width: 100%;
    height: auto;
    display: block;
    margin-top: -1px;
    margin-bottom: -1px;
    z-index: 10;
    position: relative;
  }
}

.stats-prelude {
  padding-top: 6rem;
  padding-bottom: 2rem;
  text-align: center;

  a {
    font-size: 2 * $font-size-huge;
    color: $theme-black;
    font-weight: $font-weight-heavy;
    text-decoration: none;
    @media screen and (max-width: $break-small) {
      font-size: 3rem;
    }

    &::before, &::after {
      content: "×";
      color: $theme-red;
      margin: 0 1rem;
      font-size: 3 * $font-size-huge;
      font-weight: $font-weight-light;
    }
  }
}

.stats {
  background-color: $theme-blue;
  padding-top: 2rem;
  padding-bottom: 6rem;
  position: relative;
  color: $theme-white;
  justify-content: center;
  align-items: center;

  &::after {
    background-color: $theme-blue;
    display: block;
    content: ' ';
    width: 5vw;
    height: 30vw;
    position: absolute;
    top: calc(100% - 1px);
    right: 0;
    z-index: 20;
  }

  .inner {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    .and {
      font-size: 12rem;
      color: $theme-blue;
      font-family: "League Gothic", sans-serif;
      align-self: normal;

      @include text-outline();
    }

    p {
      text-align: left;
      font-size: $font-size-huge;
      margin: 0;
      padding: 0 1rem;
      display: flex;
      flex-wrap: nowrap;
      align-items: flex-start;
      @media screen and (max-width: $break-small) {
        padding: 0 3rem;
      }

      .number {
        font-family: "League Gothic", sans-serif;
        font-weight: $font-weight-regular;
        font-size: 12rem;
        margin-right: 1rem;
        display: block;
        line-height: 0.8;
        border-bottom: 0.5rem solid $theme-white;
      }

      .description {
        display: block;
        font-size: 1.2 * $font-size-huge;
        font-weight: $font-weight-thin;

        &:first-line {
          font-weight: $font-weight-bold;
        }
      }
    }
  }

  @media screen and (max-width: $break-medium) {
    padding-top: 4rem;
    padding-bottom: 4rem;

    .inner {
      flex-direction: column;
      justify-content: start;
      align-items: start;
    }
  }
}

.vinyl {
  width: 100%;
  position: relative;

  img {
    width: 100%;
    height: auto;
    display: block;
    margin-top: -1px;
    margin-bottom: -1px;
    z-index: 10;
    position: relative;
  }
}

.resources {
  background-color: $theme-red;
  width: 100%;
  position: relative;
  overflow: hidden;

  &::before {
    background-color: $theme-blue;
    display: block;
    content: ' ';
    width: 5vw;
    height: 30vw;
    position: absolute;
    top: calc(-30vw + 1px);
    left: 0;
    z-index: 10;
  }

  $title-height: 8rem;
  $title-offset-x: 5.6rem;
  $title-offset-y: 1.1rem;
  $before-inner-width: 20vw;

  .before-inner {
    background-color: $theme-black;
    display: block;
    content: ' ';
    width: $before-inner-width;
    height: 100%;
    position: absolute;
    top: 0;
    left: 5vw;
    z-index: 1;
    overflow: hidden;

    .title-clone {
      transform: rotate(-10deg);
      position: absolute;
      top: -$title-offset-y;
      left: calc(100% - 5.5rem);
    }
  }

  .inner {
    background-color: $theme-blue;
    flex-wrap: wrap;
    padding: (6rem + $title-height + $title-offset-y) 6rem 6rem;
    width: 75vw;
    margin-left: 25vw;
    position: relative;

    .title {
      transform: rotate(-10deg);
      position: absolute;
      top: -$title-offset-y;
      left: -$title-offset-x;

      .blue {
        color: $theme-blue;
      }
    }

    .card {
      padding-left: 4rem;
      position: relative;

      > .header-icon {
        max-width: 3rem;
        height: 2.7rem;
        position: absolute;
        top: 0.3rem;
        left: 0;
      }

      > h3 {
        color: $theme-white;
        font-size: 3.5rem;
        line-height: 1;
        font-weight: $font-weight-regular;
        margin: 0 0 0.5rem;
      }

      > p {
        margin: 0 0 2rem;
        padding-right: 40%;
        font-weight: $font-weight-medium;
        @media screen and (max-width: $break-small) {
          padding-right: 0;
        }
      }

      &:last-of-type {
        width: 100%;
      }
    }

    > p {
      color: $theme-white;
      padding-left: 4rem;
      padding-right: 15%;
      font-weight: $font-weight-light;
      font-size: $font-size-huge;
      line-height: 1.2;
    }

    @media screen and (max-width: $break-medium) {
      padding: (6rem + $title-height + $title-offset-y) 3rem 3rem;

      .card {
        padding-right: 0;
        padding-left: 2rem;

        > .header-icon {
          max-width: 1.5rem;
          height: 1.35rem;
          position: absolute;
          top: 0.3rem;
          left: 0;
        }

        h3 {
          font-size: 2rem;
        }
      }

      > p {
        padding-right: 0;
        font-size: $font-size;
        padding-left: 2rem;
      }
    }
  }

  .before-inner, .inner {
    .title-clone, .title > h2 {
      font-size: $title-height;
      font-weight: $font-weight-regular;
      line-height: 0.8;
      color: $theme-white;
      margin: 0;
      text-transform: uppercase;
      font-family: "League Gothic", sans-serif;
    }
  }
}

.cta-wrapper {
  width: 100%;
  padding-top: 6rem;
  padding-bottom: 6rem;
  text-align: center;
  overflow: hidden;

  .cta-button {
    background-color: $theme-blue;
    padding: 1.5rem 1.5rem 1.2rem;
    text-transform: uppercase;
    text-decoration: none;
    display: inline-block;
    line-height: 1;
    font-size: 1.2 * $font-size-huge;
    font-weight: $font-weight-bold;
  }

  .cta-elements {
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    margin-top: 2rem;

    .cta-element {
      color: $theme-red;
      padding-left: 3.8rem;
      padding-right: 3.8rem;

      p {
        font-size: 5 * $font-size-big;
        line-height: 1;
        margin: 0;
        font-family: "League Gothic", sans-serif;
        text-transform: uppercase;

        @media screen and (max-width: $break-small) {
          font-size: 6rem;
        }
      }

      a {
        font-size: $font-size-big;
        color: $theme-blue;
        text-decoration: none;
        font-weight: $font-weight-bold;
      }
    }
  }
}

footer {
  background-color: $theme-black;
  justify-content: normal;
  align-items: stretch;
  width: 100%;
  color: $theme-white;
  text-align: center;
  padding-bottom: 2rem;

  p {
    margin: 0;
    line-height: 1.2;
    font-size: $font-size-big;
  }

  .imprint, .notices {
    padding-top: 3rem;
    padding-bottom: 3rem;
    width: 50%;
  }

  .imprint {
    background-color: $theme-blue;
    font-weight: $font-weight-thin;

    .strong {
      font-weight: $font-weight-black;
    }
  }

  .notices {
    display: flex;
    flex-wrap: wrap;
    background-color: $theme-red;

    .copyright, .origin {
      width: 100%;
    }

    .copyright {
      align-self: start;
      font-weight: $font-weight-thin;
    }

    .origin {
      align-self: end;
      margin-top: auto;
      font-weight: $font-weight-black;
      line-height: 2;

      .icon {
        width: $font-size-huge;
        height: $font-size-huge;
        vertical-align: text-bottom;
      }
    }
  }
}

.big-nav {
  position: fixed;
  z-index: 1000;
  background-color: $theme-black;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform: translateY(-100%);
  transition: transform .3s ease-in-out;

  ul {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    transform: translate(-50%, -50%);
    list-style-type: none;
    padding: 0;
    margin: 0;
    color: $theme-white;
    font-size: 5rem;
    font-family: "League Gothic", sans-serif;
    text-transform: uppercase;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    @media screen and (max-width: $break-medium) {
      font-size: 3.5rem;
    }

    li {
      cursor: pointer;
      position: relative;
      display: inline-flex;

      @media screen and (min-width: $break-medium) {

        &::before, &::after {
          content: ' ';
          color: white;
          display: block;
          line-height: 5rem;
          position: absolute;
          height: 1rem;
          background-color: $theme-red;
          top: 50%;
          left: 50%;
          z-index: 1;
          transition: opacity .2s ease-in-out, transform .2s ease-in-out;
          pointer-events: none;
        }

        &:nth-child(1) {
          &::before {
            width: 50px;
            transform: translate(-200%, -50%);
          }

          &::after {
            width: 100px;
            transform: translate(10%, -50%);
          }
        }

        &:nth-child(2) {
          &::before {
            width: 150px;
            transform: translate(-200%, -50%);
          }

          &::after {
            width: 150px;
            transform: translate(40%, -50%);
          }
        }

        &:nth-child(3) {
          &::before {
            width: 75px;
            transform: translate(-180%, -50%);
          }

          &::after {
            width: 100px;
            transform: translate(30%, -50%);
          }
        }

        &:nth-child(4) {
          &::before {
            width: 150px;
            transform: translate(-200%, -50%);
          }

          &::after {
            width: 250px;
            transform: translate(10%, -50%);
          }
        }

        &:hover {
          &::before, &::after {
            opacity: 0;
          }

          &::before {
            transform: translate(-400%, -50%);
          }

          &::after {
            transform: translate(400%, -50%);
          }
        }
      }

      a {
        text-decoration: none;
        color: $theme-blue;
        transition: color .2s ease-in-out;
        position: relative;
        z-index: 0;

        &::before, &::after {
          content: '×';
          color: white;
          display: block;
          width: 2rem;
          height: 5rem;
          top: 50%;
          line-height: 5rem;
          position: absolute;
          opacity: 0;
          transition: opacity .2s ease-in-out, transform .2s ease-in-out;
        }

        &:before {
          transform: translate(100%, -50%) scale(.1);
          left: -4rem;
        }

        &:after {
          transform: translate(-100%, -50%) scale(.1);
          right: -3rem;
        }

        &:hover {
          color: $theme-white;

          &::before, &::after {
            transform: translate(0%, -50%) scale(1);
            opacity: 1;
          }
        }
      }
    }
  }

  &.active {
    transform: translateY(0);
  }
}
